# Base-----------------------------------
matplotlib>=3.11.1
opencv-python>=5.0.0.93
Pillow>=12.3.0
PyYAML>=6.0.3
requests>=2.34.2
scipy>=1.18.1
torch>=2.13.0
torchvision>=0.28.0
tqdm>=4.70.0

pandas>=3.0.5
seaborn>=0.13.2

gradio>=6.26.0

# Ultralytics-----------------------------------
ultralytics>=8.4.135

