--extra-index-url https://download.pytorch.org/whl/cu117
torch>=2.2.0
torchvision>=0.17.0
omegaconf
torchmetrics>=1.0.0
fvcore
iopath
xformers>=0.0.24
submitit
--extra-index-url https://pypi.nvidia.com
cuml-cu11
