--extra-index-url https://download.pytorch.org/whl/cu117
torch>=2.13.0
torchvision>=0.28.0
omegaconf
torchmetrics>=1.9.0
fvcore
iopath
xformers>=0.0.35
submitit
--extra-index-url https://pypi.nvidia.com
cuml-cu11
